.paragraphFont{
    font-size: calc(.6vw + 12px);
}

.paragraphContainerLeft{
    width: calc(50vw + 70px);
    margin-right: 2vw;
    margin-left: 0;
}

.paragraphContainerRight{
    width: calc(50vw + 70px);
    margin-left: 2vw;
    margin-right: 0;
}