.test{
    color:rgb(255, 255, 255);
    font-size: calc(.5vw + 10px);
    margin: 3px
}

.backgroundPressed{
    display: flex;
    align-items: center;
    background-color: #525252;
    width: calc(120px + 5vw);
    height: calc(6vw + 30px);
}

.backgroundUnpressed{
    display: flex;
    align-items: center;
    background-color: rgb(32, 32, 32);
    width: calc(120px + 5vw);
    height: calc(6vw + 37px);
}

.mainContentStyle{
    background-color: rgb(32, 32, 32);
}

.mainCard{
    height: calc(18vw + 275px);
    width: calc(50vw + 180px);
}

.cardTitle{
    justify-content: center;
    height: calc(1vw);
    margin-bottom: calc(.3vw - 15px);
    margin-top: .5vw;
}

.urlStyle{
    border-bottom: 0;
    color: rgb(0, 81, 255);
    text-decoration: underline;
    font-size: calc(1vw + 10px)
}

.cardPicture{
    overflow: hidden;
    padding-bottom: 20px;
    height: 1vw;
    width: calc(8vw + 35px);
}